
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<div class="traveltour-top-bar">
    <div class="traveltour-top-bar-background"></div>
    <div class="traveltour-top-bar-container ">
        <div class="traveltour-top-bar-left">
            <div class="traveltour-top-bar-left-text">
                <i class="bi bi-telephone" style="font-size: 16px ;color: #94999f ;margin-right: 10px ;"></i> 1.820.3345.33
                <i class="bi bi-envelope" style="font-size: 16px ;color: #94999f ;margin-left: 30px ;margin-right: 10px ;"></i> ContactTravelTourWP.com
            </div>
        </div>
        <div class="traveltour-top-bar-right">
            <div class="traveltour-top-bar-right-social">
                <a href="#" ><i class="bi bi-facebook"></i></a>
                <a href="#" ><i class="bi bi-instagram"></i></a>
                <a href="#" ><i class="bi bi-twitter-x"></i></a>
            </div>
            <div class="tourmaster-user-top-bar">
                <a routerLink="/login">
                    <i class="bi bi-person-lock" style="font-size: 16px ;color: #94999f ;margin-right: 10px ;"></i>  Đăng nhập
                </a>
                <a routerLink="/signup">
                    <i class="bi bi-person" style="font-size: 16px ;color: #94999f ;margin-right: 10px ;"></i> Đăng kí
                </a>
            </div>
        </div>
    </div>
</div>
<header>
    <nav>
        <h4>Mr.travel</h4>
        <ul>
            <li><a routerLink="/home">TRANG CHỦ</a></li>
            <li><a routerLink="/product">TOUR TRONG NƯỚC </a></li>
            <li><a routerLink="/tour">TOUR QUỐC TẾ</a></li>
            <li><a routerLink="/about">VỀ CHÚNG TÔI</a></li>
            <li><a routerLink="/booking">BOOKING NOw</a></li>
        </ul>
        <i class="bi bi-three-dots"></i>
    </nav>
</header>
