<section class="header-content-list-banner">
    <div class="content-list-banner">
      <div class="cont_bx">
          <h1> LOGIN</h1>
      </div>
  </div>
  </section>
  
      <section class="list_tours">
          <h2>Điểm đến phổ biến</h2>
          <div class="list" >
              <div class="grid-item item11">
                      <div class="grid-item-img main" style="background-image: url(assets/image/list1.jpg);">
                      <div class="grid-item-img sub">
                          <div class="info">
                            <p class="title">Singgapore</p>
                            <p class="description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separate.</p>
                            <a href="">Xem ngay</a>
                          </div>
                      </div>
                  </div>
                  
              </div>
              <div class="grid-item item10">
                  <div class="grid-item-img main" style="background-image: url(assets/image/list2.jpg);">
                      <div class="grid-item-img sub">
                          <div class="info">
                            <p class="title">Singgapore</p>
                            <p class="description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separate.</p>
                            <a href="">Xem ngay</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="grid-item item9">
                  <div class="grid-item-img main" style="background-image: url(assets/image/list3.jpg);">
                      <div class="grid-item-img sub">
                          <div class="info">
                            <p class="title">Singgapore</p>
                            <p class="description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separate.</p>
                            <a href="">Xem ngay</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="grid-item item8">
                  <div class="grid-item-img main" style="background-image: url(assets/image/list4.jpg);">
                      <div class="grid-item-img sub">
                          <div class="info">
                              <p class="title">Singgapore</p>
                              <p class="description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separate.</p>
                              <a href="">Xem ngay</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="grid-item item7">
                  <div class="grid-item-img main" style="background-image: url(assets/image/list5.jpg);">
                      <div class="grid-item-img sub">
                          <div class="info">
                            <p class="title">Singgapore</p>
                            <p class="description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separate.</p>
                            <a href="">Xem ngay</a>
                          </div>
                      </div>
                  </div>
              </div>
              
              <div class="grid-item item6">
                  <div class="grid-item-img main" style="background-image: url(assets/image/list5.jpg);">
                      <div class="grid-item-img sub">
                          <div class="info">
                              <p class="title">Singgapore</p>
                              <p class="description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separate.</p>
                              <a href="">Xem ngay</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </section>
