<section class="header-content-list-banner">
  <div class="content-list-banner">
    <div class="cont_bx">
        <h1> LOGIN</h1>
    </div>
</div>
</section>

    <section class="list_product" >
        <div class="offers">
            <h1>Best tour Package offters for you</h1>
            <p>choose your next destination</p>
            <div class="cards">
                <div class="card" *ngFor="let s of listsp">
                    <h3>{{s.name}}</h3>
                    <div class="img_text">
                        <img [src]="'assets/image/'+ s.img" alt="">
                        <h4>Inclded: Air ticket, Hotel, Breakfast, Tour, Airport transfer</h4>
                    </div>
                    <div class="cont_bx">
                        <div class="price">
                            <div class="heart_chat">
                                <i class="bi bi-heart-fill"><span>86415</span></i>
                                <i class="bi bi-chat-fill"><span>4586</span></i>
                            </div>
                            <div class="info_price">
                                <a routerLink="/product/{{s.id}}"routerLinkActive='active' ariaCurrentWhenActive="page" >Chi tiết</a>
                                <h4>$2468</h4>
                            </div>
                        </div>
                        <div class="days">5 Days <br> India</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
