.header-banner{
    width: 80%;
    height: 5vh;
    /* border: 1px solid #000; */
    margin: auto;
    padding-top: 20px;
  }
  .header-content-list-banner{
    width: 80%;
    height: 50vh;
    /* border: 1px solid #000; */
    margin: auto;
    padding-top: 20px;
    margin-top: 20px;
  }
  .content-list-banner {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
  }
  .content-list-banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../../assets/image/bannerlist1.jpg')no-repeat center center/cover;
  border-radius: 10px;
  z-index: -1;
  }
   .content-list-banner .cont_bx {
    height: auto;
    color: #fff;
    padding: 30px;
    display: flex; /* Sử dụng Flexbox */
    flex-direction: column; /* Sắp xếp nội dung theo chiều dọc */
    justify-content: center; /* Căn giữa nội dung theo chiều dọc */
    align-items: center; /* Căn giữa nội dung theo chiều ngang */
  }
  
   .content-list-banner .cont_bx h1 {
    text-align: center; /* Căn giữa text theo chiều ngang */
    color: rgb(255, 255, 255);
  margin-top: 150px;
  }
  
   .content-list-banner .cont_bx p {
    text-align: center; /* Căn giữa text theo chiều ngang */
    color: rgb(255, 255, 255);
    /* Loại bỏ transform */
  }
/* Dang ki */
.containers {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130vh;
    width: 80%; /* Set container width to 80% */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width:100%;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
  }
  button:hover {
    background-color: gray;
  }
  
  .login {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  /* Social login buttons */
  .social-signup {
    margin-top: 20px;
    text-align: center;
  }
  
  .social-signup a {
    display: inline-block;
    margin-right: 10px;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .facebook {
    background-color: #4267B2;
    color: #ffffff;

  }
  
  .google {
    background-color: #DB4437;

  }
  
  
  .twitter {
    background-color: #1DA1F2;
  }
  
  .social-signup a:hover {
    background-color: gray;
  }