<section class="tourdetail"  *ngIf="detailsp" >
    <div class="content-list-banner">
      <div class="cont-bx-img">
        <img [src]="'assets/image/'+ detailsp.img" alt="">
      </div>
    </div>
  <div class="tourdetail-container">
      <div class="tourdetail-container-right">
          <div class="booking-form">
              <h2>Đặt chỗ</h2>
              <div class="booking-info">
                  <div class="price">
                      <span>Giá:</span>
                      <span class="price-value">Từ {{detailsp.price}}$</span>
                  </div>
                  <div class="available-seats">
                      <span>Còn chỗ:</span>
                      <span class="available-seats-value">38 chỗ</span>
                  </div>
              </div>
              <form action="#">
                  <div class="date">
                      <label for="date">Ngày:</label>
                      <input type="date" id="date" value="2024-05-28" min="2024-05-28" max="2024-12-31">
                  </div>
                  <div class="number-of-people">
                      <label for="number-of-people">Số người:</label>
                      <input type="number" id="number-of-people" min="1" value="4">
                  </div>
                  <div class="buttons">
                      <button type="submit">đặt chỗ</button> 
                  </div>
                  <div class="icon">
                      <i class="bi bi-heart-fill"><span>86415</span></i>
                      <i class="bi bi-chat-fill"><span>4586</span></i>
                  </div>
              </form>
          </div>
      </div>
      <div class="tourdetail-container-left">
          <div class="tourdetail-menu-content">
              <ul>
                  <li><a href="#detail">Detail</a></li>
                  <li><a href="#photos">Photos</a></li>
                  <li><a href="#faq">FAQ</a></li>
                  <li><a href="#reviews">Reviews</a></li>
              </ul>
          </div>
          <div class="tourdetail-line">
          </div>
          <div class="tourdetail-title">
              <h1>{{detailsp.name}}</h1>
              <p>Trải nghiệm lặn biển tuyệt vời tại Molokini và Turtle Arches!</p>
          </div>
          <div class="tourdetail-rating">
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <i class="bi bi-star"></i>
              <span class="review-count">(1 Đánh giá)</span>
          </div>
          <div class="tourdetail-info">
              <div class="duration">
                  <i class="bi bi-clock"></i>
                  <span class="text">{{detailsp.lich_trinh}}</span>
              </div>
              <div class="max-people">
                  <i class="bi bi-people"></i>
                  <span class="text">Tối đa: 40 người</span>
              </div>
              <div class="wifi">
                  <i class="bi bi-wifi"></i>
                  <span class="text">Có Wifi</span>
              </div>
              <div class="tour-schedule">
                <i class="bi bi-calendar"></i>
                  <span class="text">{{detailsp.ngayKH}}</span>
              </div>
              <div class="age-requirement">
                <i class="bi bi-calendar"></i>
                  <span class="text">{{detailsp.ngayKT}}</span>
              </div>
              <div class="pickup">
                  <i class="bi bi-car-front"></i>
                  <span class="text">{{detailsp.noiKH}}</span>
              </div>
          </div>
          <div class="tourdetail-line">
          </div>
          <div class="tourdetail-description" id="detail">
              <h2>Chi tiet tour</h2>
              <p>{{detailsp.mota}}</p>
              <p>Tour này bao gồm:</p>
              <ul>
                  <li>Vận chuyển khứ hồi từ sân bay</li>
                  <li>Trang thiết bị lặn biển (mặt nạ, ống thở, vây)</li>
                  <li>Hướng dẫn viên du lịch chuyên nghiệp</li>
                  <li>Bánh nhẹ và nước uống</li>
              </ul>
              <p>Đặt tour ngay hôm nay để có một trải nghiệm lặn biển khó quên!</p>
          </div>
          <div class="tourdetail-line">
          </div>
          <div class="tourdetail-img" id="photos">
              <div class="tourdetail-img-title">
                  <i class="bi bi-image"></i>
                  <span><h2>Photo</h2></span>
              </div>
              <div class="tourdetail-img-image">
                <img [src]="'assets/image/'+ detailsp.img" alt="">
              </div>
          </div>
          <div class="tourdetail-line">
          </div>
          <div class="tourdetail-ofter" id="faq">
              <div class="tourdetail-ofter-title">
                  <i class="bi bi-calendar"></i>
                  <span><h2>Tour lien quan</h2></span>
              </div>
              <div class="offers">
                <div class="cards">
                    <div class="card">
                        <h3>Lotus-Dehli</h3>
                        <div class="img_text">
                            <img src="assets/image/lotus_temple.jpg" alt="">
                            <h4>Inclded: Air ticket, Hotel, Breakfast, Tour, Airport transfer</h4>
                        </div>
                        <div class="cont_bx">
                            <div class="price">
                                <div class="heart_chat">
                                    <i class="bi bi-heart-fill"><span>86415</span></i>
                                    <i class="bi bi-chat-fill"><span>4586</span></i>
                                </div>
                                <div class="info_price">
                                    <a href="detail.html">Chi tiết</a>
                                    <h4>$2468</h4>
                                </div>
                            </div>
                            <div class="days">5 Days <br> India</div>
                        </div>
                    </div>
        
                    <div class="card">
                        <h3>Burj Khalifa-DXB</h3>
                        <div class="img_text">
                            <img src="assets/image/burjkhlifa.jpg" alt="">
                            <h4>Inclded: Air ticket, Hotel, Breakfast, Tour, Airport transfer</h4>
                        </div>
                        <div class="cont_bx">
                            <div class="price">
                                <div class="heart_chat">
                                    <i class="bi bi-heart-fill"><span>86415</span></i>
                                    <i class="bi bi-chat-fill"><span>4586</span></i>
                                </div>
                                <div class="info_price">
                                    <a href="detail.html">Chi tiết</a>
                                    <h4>$2468</h4>
                                </div>
                            </div>
                            <div class="days">5 Days <br> Dubai</div>
                        </div>
                    </div>
        
                    <div class="card">
                        <h3>Piramids-Egypt</h3>
                        <div class="img_text">
                            <img src="assets/image/piramids.jpg" alt="">
                            <h4>Inclded: Air ticket, Hotel, Breakfast, Tour, Airport transfer</h4>
                        </div>
                        <div class="cont_bx">
                            <div class="price">
                                <div class="heart_chat">
                                    <i class="bi bi-heart-fill"><span>86415</span></i>
                                    <i class="bi bi-chat-fill"><span>4586</span></i>
                                </div>
                                <div class="info_price">
                                    <a href="detail.html">Chi tiết</a>
                                    <h4>$1268</h4>
                                </div>
                            </div>
                            <div class="days">7 Days <br> Egypt</div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</section>
